services:
  mysql:
    image: mysql:8
    container_name: mysql_cache
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cache
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:7.2
    container_name: redis_cache
    ports:
      - "6379:6379"

volumes:
  mysql_data: